body {
    text-align: center;
}
.form-popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  padding: 100px;
  background-color: rgba(199, 246, 246, 0.438);

  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;

  font-size: 5rem;
  text-align: center;
}

label span {
  display: block;
  font-weight: bold;
}

.gameButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.gameButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.gameButtonbutton:active {
	position:relative;
	top:1px;
}

