#PlayModeCanvas { 
	border: 5px solid rgba(161, 158, 158, 0.685); 
	top: 50%;
	left: 50%;
}
/* style={{ position: "absolute", left: CONSTANT.canvasLeft, top: CONSTANT.canvasTop, zIndex: 0 }} */

.form-popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  padding: 50px 50px 5px 50px;
  background-color: rgba(199, 246, 246, 0.438);

  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;

  font-size: 3rem;
  text-align: center;
}


.form-popup span {
  display: block;
  font-weight: bold;
}
.form-popup p {
	display: block;
	font-weight: bold;
	font-size: 2rem;
	margin: 20px 0px 20px 0px;
  }

.gameButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.gameButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.gameButtonbutton:active {
	position:relative;
	top:1px;
}

.githubButton {
	white-space: nowrap;
	border:1.5px solid #686767;
	/* border-color: rgb(21, 0, 209); */

	padding: 0px 10px 0px 10px;
	font-size: 1rem;
	border-radius: 5px;
}
.githubButton:hover {
	background:linear-gradient(to bottom, #d4d4d4 5%, #e0e0e0 100%);
}
.githubButton img{
  	justify-content: center;

	padding: 5px 5px 0px 3px;
	height: 1.3rem;
	white-space: nowrap;
}

/* HIDE RADIO */
input[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
  }
/* IMAGE STYLES */
input[type=radio] + img {
	width: 80px;
	padding: 10px;
	cursor: pointer;
	}
input[type=radio]+ img:hover {
	filter: brightness(1.2);
	}
/* CHECKED STYLES */
input[type=radio]:checked + img {
	outline: 6px solid rgba(17, 72, 87, 0.739);
	}
